{% extends 'index.html' %}

{% block main_content %}
<h1>Folders for {{current_user.username}}</h1>
<style>
textarea:focus, input:focus{
    outline: none;
    text-decoration: none;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}
.form_display{
    margin: 3%;
}
.form_display > input{
    cursor: pointer;
    margin: 0 auto;
    display: flow-root;
}
.animate{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;  
}
.animate:hover{
    -ms-transform: scale(1.20, 1.20); /* IE 9 */
    -webkit-transform: scale(1.20, 1.20); /* Safari */
    transform: scale(1.20, 1.20);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;  
}
.hover{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; 
}
.hover:hover{
    filter: saturate(20%);
    -webkit-filter: saturate(20%); /* Safari 6.0 - 9.0 */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; 
}
</style>
{% if user_folders|length > 0 %}
<div class="wrapper">
    {% for folder in user_folders|sort(attribute='id') %}
    <div style="float: left;position:relative;width:130px;">
        <a href="{{url_for('open_folder', foldername=folder.name)}}" style="color:black;">
            <div style="width:50px;height:50px;position:relative;margin: 5px 40px;" class="animate">
                <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678084-folder-512.png" style="width:50px;margin:0;">
            </div>
        </a>
        <form action="/userfolders/{{folder.name}}" method="POST" class="form_display">
            {{ update.hidden_tag() }}
            {{ update.foldername(style="width:100%;margin-bottom:5px;cursor:default;text-align:center;", value=folder.name)}}
            {{ update.update(style="margin:0;float:left;width:60px;background:blue;color:white;border:0;height:20px;", class="hover") }}
        </form>
        <form action="/delete/folder/{{folder.name}}/{{folder.name}}" method="POST" class="form_display">
            {{ form.hidden_tag() }}
            {{ form.delete(style="margin:0;float:right;width:60px;background:red;color:white;border:0;height:20px;", class="hover") }}
        </form>
    </div>
    {% endfor %}
</div>
{% for message in get_flashed_messages() %}
<h3 style="color:red;">{{ message }}</h3>
{% endfor %}
{% else %}
<h3>No Folders Found.</h3>
{% endif %}
{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}

